body{
    display: flex;
    background: blue;
    
}

span{
    
    background: orange;
    text-align: center;
    flex: 1;
    
    font-size: 50px;
    border-radius: 50%;
    height: 80px;
    line-height: 80px;
    width: 80px;
    
}
span:not(:first-child){
    margin-left: 100px;
}